body{
    background: #ECF0F5;
    padding:0;
    margin:0;
    font-family:sans-serif;
}

.header-title{
    color: rgba(255, 255, 255, 0.775);
    background-color: #035382;
}

.header-title div{
    padding-right: 11px;
    padding: 7px; 
    margin-left: 10rem;
    
}
.page-header{
    font-size: 16pt;
    color: #cdcdcd; 
    margin-left:15rem ;
    background-color: #357552;
    padding: 4px 8px;
}

/* ---------------------  SHIFT FORM ----------------- */
.shift-display{
    width: 90%; 
    margin: 3rem auto;
    border-top: 3px solid #05277d;
    border-bottom: 3px solid #05277d;
    padding: 1rem 0;
    
}

.form{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    background-color: #10cc6460;
    padding: 4px 8px;
}
.shift-particular input{
    width: 7rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(226, 111, 111, 0.329);
    padding: 2px 4px;

}
.form form label{
    display: block;
}

.shift-particular{
    /* background-color: #357552; */

}

.shift-particular label{
    font-size: 0.7rem;
    color: rgba(33, 33, 33, 0.501);
}





/* ------------------ ADD SHIFT FORM ----------------- */
.create-shift, .add-staff{
    width: 45%;
    margin: 2rem auto;
    border-top: 3px solid #05277d;
    border-bottom: 3px solid #05277d;
    box-shadow: 3px 3px 10px 1px #05277d83;
    /* padding-bottom: 2rem; */
    padding: 0 2rem 2rem 2rem;

}

.create-shift form{
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.create-shift h3, .add-staff h3{
    text-align: center;
}

.btn{
    border: none;
    background-color: #1d7db5;
    border: 2px solid #1d7db5;
    color: #D2D3D6;
    font-size: 1rem;
    width: 90%;
    transition: all 0.5s;
    margin-left: 2rem;
}

.btn:hover{
    cursor: pointer;
    background: transparent;
    color: #212121;
    transition: all 0.5s;
}
.form-particular{
    margin: 2rem 0;
}

.form-particular label{
    display: block;
    text-align: left;
}

.form-particular input{
    border: none;
    padding: 4px 8px;
    background-color: rgba(220, 168, 136, 0.177);
    width: 100%;
}

/* ------------------ STAFF DISPLAY ----------------- */
.staff-display{
    width: 85%;
    margin: 0.5rem auto;
    border-top: 3px solid #05277d;
    border-bottom: 3px solid #05277d;
    padding: 2rem 0;
    height: 65vh;
    overflow: scroll;
  
}

.staff{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #10cc6460;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
}

.staff img{
    border-radius: 50%;
}
.staff .name{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.staff .position{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.386);
}
.staff .phone, .staff .email{
text-decoration: none;
color: #035382;
font-size: 0.9rem;
}

.update-info, .delete-satff{
    font-size: 0.8rem;
    text-decoration: none;
    color: #f2f2f2da;
    padding: 2px 4px;
    border-radius: 10px;
}

.update-info{
    background-color: #1d7db5;
}

.delete-satff{
    background-color: #b63d3d;
}

/* ------------ ADD STAFF --------------- */

.add-staff form .form-particular{
    margin: 1rem 0;
}





.fontvari{ font-variant: small-caps; }
.center{ text-align: center; }
.left{ text-align:left; }
.right{text-align: right;}
.full{height: 100%}
.white{ color:white; }
.black{color:white;}
.mini-btn{padding: 1px 12px;margin:1px;}
.flex{display: flex; display: -webkit-flex;}
.mini-details{font-size: 9pt; font-size: bold}
.panel{width: 100%;border-radius: 3px;border:1px solid #D2D3D6;}
.panel-head{background: #E5F1FB ;border-bottom: 1px solid #D2D3D6;padding: 11px;border-radius: 3px 3px 0 0;font-size: 14pt;font-weight: bold}
.panel-body{background: white;padding: 14px 11px;border-radius:0 0 3px 3px}
.hidden{display: none;}
.thumb{ border: 1px solid #B2B2B2; padding: 3px;background: white}.red{color:red;}
.blue{color:blue;}
.green{color:green;}
.inline li{display: inline}
.flex{display: flex}
.zero{padding: 0;margin:0;}
.nostyle{list-style-type: none}
body{margin: 0;background:#ECF3F6 ;}
.fright{ float: right; }
.fleft{ float: left; }
.clear{clear: both}
.sans{ font-family: sans-serif; }
.strong{font-weight: bold}
.half{width: 50%}
.fontTreb{font-family: trebuchet ms}
.marginauto{margin:auto;}
.bg{background: blue}
.m1{margin: 1px}
.mauto{margin: auto;}
.bg-green{background: green;color: white}
/*---- index.php----*/


.topHead{font-size: 22pt;background:#145632;padding: 24px;color:gold;text-shadow: 2px 2px black}
		
.cover{padding: 11px;}
.cvBody{border:1px solid black; width: 57%;min-height: 444px;}
.cv-head{background:#212121;width: 40%;padding: 4px}
.photo{background:#283136;height: 222px}
.cv-content{width: 60%}
.center{text-align: center;}
.flex{display: inline-flex;}

.marginLeft{margin-left: 18%;}
.item ul li{color: #72A4A4;background:#2C3B41;padding: 4px;padding-left: 22px;}
.item ul li:hover{color:white;}
/* .rightAccount:hover{background:#367FA9;cursor: pointer;} */
.account{width: 277px;background:#F9F9F9;;position: absolute;right:2px;margin-top: 2px;}
.content2{padding:15px 22px;}
.box2{padding: 7px;background:white;margin: 14px;width: 222px;border-top: 3px solid blue;z-index: -1;box-shadow: 1px 1px 3px silver;cursor: pointer;}
.box2:hover{box-shadow: 1px 1px 11px black}

.tableBox{background:white;box-shadow: 1px 1px 11px silver;margin:5px;padding: 11px;}
